[General]
arch=riscv64
aptsources=Unstable Unreleased Sid-main
bootstrap=Unstable Unreleased Sid-main


[Unstable]
source=http://deb.debian.org/debian-ports
suite=unstable
omitdebsrc=true
keyring=debian-ports-archive-keyring
packages=build-essential  base-files  util-linux sudo base-passwd htop nano vim kmod bash base busybox dialog bison flex bc byobu

